# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env.*
xedi-66660-firebase-adminsdk-fbsvc-05125ce8da.json
*.env.development

# typescript
*.tsbuildinfo

# Node.js
node_modules/

